body{
    background-color: antiquewhite;
}

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

.btn{
    width: 110px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    /* text-align: center; */
    font-family: consolas,monospace;
}

#gameCont{
    font-family: "Permanent Marker" , cursive ;
    text-align: center;
}

#cellCont{
    
    display: grid;
    grid-template-columns: repeat(3 , auto);
    width: 225px;
    margin: auto;
}